body {
    background-color: hotpink;
    background-image: url("../images/background.png");

}

div {
    background-color: white;
    margin: 5px auto;
    width: 80%;
    padding: 10px;
    font-family: 'Mukta Vaani', sans-serif;    font-size: 18px;
    text-align: center;
    border: solid 5px black;
}

img {
    width: 80%;
    overflow: auto;
    border: solid 2px black;
}

#timer {
    font-size: 16px;
    font-weight: bold;
}

.answerChoice {
    width: 60%;
    border: solid 2px black;
}

#question {
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#continue {
    font-style: italic;
    background-color: lightgray;
    font-size: 20px;
    border: solid 2px black;
    width: 30%;

}